@import 'src/common/styles/mixins/mixins';
@import 'src/common/styles/variables/variables';

.vacancyInfo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include background(24px);
  width: 773px;
}