@import 'src/common/styles/mixins/mixins';
@import 'src/common/styles/variables/variables';

.button {
 background-color: $blue_color;
  border: none;
  border-radius: 8px;
  @include text(16px, 21px, 500, $elements_background_color);
  font-family: inherit;

}

.button_light {
  padding: 10px 16px;
  height: 42px;
  background: #DEECFF;
  font-family: inherit;
  @include text(14px, 155%, 500, $pressed_blue_color);

  &:hover {
    background: #B7D6FF;
  }

}