@import 'src/common/styles/mixins/mixins';
@import 'src/common/styles/variables/variables';

.vacancyItem__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include background(24px);
  width: 725px;

  @media(max-width: 1250px) {
    width: inherit;
  }

  .vacancyItem__title_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .vacancyItem__title_link {
      text-decoration: none;
      cursor: pointer;
      margin: 0;
      @include text(20px, 24px, 600, $blue_color);

      @media(max-width: 1150px) {
        @include text(18px, 22px, 600, $blue_color);
      }
      @media(max-width: 900px) {
        @include text(16px, 20px, 600, $blue_color);
      }
    }

    .vacancyItem__title {
      @include text(28px, 34px, 700, $text_color)
    }

    .vacancyItem__star_button {
      padding: 0;
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;

      &:hover {
        filter: invert(62%) sepia(90%) saturate(2954%) hue-rotate(196deg) brightness(99%) contrast(100%);
        cursor: pointer;
      }
    }
  }

  .vacancyItem__info_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    @include text(16px, 20px, 400, $text_color);

    @media (max-width: 900px) {
      @include text(14px, 18px, 400, $text_color);
    }
    @media (max-width: 400px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    img {
      @media (max-width: 400px) {
        display: none;
      }
    }

    :first-child {
      font-weight: 600;
    }
  }

  .vacancyItem__location_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    @include text(16px, 19px, 400, $text_color);

    @media (max-width: 900px) {
      @include text(14px, 18px, 400, $text_color);
    }

    img {
      width: 20px;
    }
  }
}