@import "src/common/styles/variables/variables";

@mixin text($fontSize, $lineHeight, $fontWeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color
}

@mixin active-color {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin active-only-color {
    background-color: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    transform: rotate(180deg)
}

@mixin button ($width, $height) {
    width: $width;
    height:$height;
    text-transform: uppercase;
}
