@import "src/common/styles/variables/variables";

@mixin text($fontSize, $lineHeight, $fontWeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color
}

@mixin background($padding) {
    padding: $padding;
    background-color: $elements_background_color;
    border: 1px solid #EAEBED;
    border-radius: 12px;
}

