@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";


.filterBar__filter_item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    @include text(16px, 19px, 700, $text_color);
  }

  .filterBar__filter_arrows {
    display: flex;
    flex-direction: column;
    gap:0px;

    img {
      cursor: pointer;

      &:hover,
      &:active {
        filter: invert(59%) sepia(13%) saturate(7430%) hue-rotate(196deg) brightness(99%) contrast(99%);
      }
    }
  }
}
