@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";

.searchPage__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;

  .searchPage__content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
