@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";

.searchPage__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;

  .searchPage__filter_block {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .searchPage__content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 773px;

    @media (max-width: 1250px) {
      width: 70%;
    }
    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
