@import "../../common/styles/mixins/mixins";
@import "../../common/styles/variables/variables";

.header__wrapper {
  background-color: $elements_background_color;
  display: flex;
  padding: 24px 192px;

  .header__content_wrapper {
    display: flex;
    align-items: center;
    gap: 280px;
    margin: 0;

    .header__links_wrapper {
      display: flex;
      flex-direction: row;
      gap: 60px;

      .header__link {
        @include text(16px, 20px, 400, $text_color);
        text-decoration: none;

        .header__link_active {
          @include text(16px, 20px, 500, $blue_color);
        }
      }
    }
  }
}
