$font: 'Inter'

$main_background_color: #F7F7F8

$elements_background_color: #FFFFFF

$blue_color: #5E96FC

$text_color: #232134

$page_not_found_text_color: #343A40

$unactive_text_color: #ACADB9






