@import 'src/common/styles/mixins/mixins';
@import 'src/common/styles/variables/variables';


.app__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;

  .app__content_wrapper {
    margin: 0 auto 44px auto;

    @media(max-width: 1250px) {
      width: 80%;
    }
    @media(max-width: 1000px) {
      width: 90%;
    }
  }
}

